[Unit]
Description=Allows assimilating a machine into the collective.
After=network-online.target
Wants=network-online.target

[Service]
User=root
ExecStart=/usr/bin/assimilator-launcher
Restart=Always
RestartSec=120

[Install]
WantedBy=multi-user.target