## Exports

# System
export PATH="$PATH:/home/$USER/.local/bin"
custom_bin_root="/mnt/nfs/Homelab/bin"

# # Function to check if a directory contains executables (very basic check)
# contains_executables() {
#   find "$1" -maxdepth 0 -type f -executable -print -quit | grep -q .
# }

# if [ -d "$custom_bin_root" ]; then
#   for dir in "$custom_bin_root"/*; do
#     if [ -d "$dir" ] && contains_executables "$dir"; then
#       export PATH="$PATH:$dir"
#     fi
#   done
# fi
# unset custom_bin_root
# unset contains_executables

# Kubernetes
export KUBECONFIG=~/.kube/config

# Fzf
export FZF_DEFAULT_COMMAND='fd . --type f'
export FZF_DEFAULT_OPTS=" \
--color=bg+:#363a4f,bg:#24273a,spinner:#f4dbd6,hl:#ed8796 \
--color=fg:#cad3f5,header:#ed8796,info:#c6a0f6,pointer:#f4dbd6 \
--color=marker:#b7bdf8,fg+:#cad3f5,prompt:#c6a0f6,hl+:#ed8796 \
--multi \
--style full \
"